body {
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #282828;
    font-size: 14px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.container .content{
    margin-top: 120px;
    margin-bottom: 150px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
    margin-bottom: 30px;
}

.center-image {
    max-width: 100px;
    height: auto;
    border-bottom: none;
}

.header button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 3px;
    background-color: #282828;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 600;
    z-index: 1;
}

.header button:hover{
    background-color: #b8b8b8;
    border: none;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 30px;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 50px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.buttons button {
    margin: 5px;
    padding: 8px 15px;
}

.buttons .active {
    background-color: #282828;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 20px;
}

.buttons .inactive {
    background-color: white;
    border: none;
    font-weight: 600;
    color: #282828;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 부드러운 애니메이션 추가 */
}

.buttons .inactive:hover{
    background-color: #282828;
    color: white;
    transform: translateY(-1px) scale(1.01); /* 마우스가 다가가면 들썩이고 커지는 효과 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* 그림자 증가 효과 */
}

.search-bar {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

.search-wrapper {
    position: relative;
    flex: 1;
    max-width: 100%;
}

.search-wrapper i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #282828;
    font-size: 14px; 
}

/* 텍스트 박스 스타일 */
.search-bar input[type="text"] {
    flex: 1; /* 텍스트 박스가 남은 공간을 차지하도록 설정 */
    max-width: 100%; /* 최대 너비를 100%로 설정 */
    padding: 5px 5px 5px 30px;
    border: 1px solid #f4f4f4;
    border-radius: 4px;
    font-size: 14px; /* 폰트 크기 조정 */
    background-color: #f4f4f4;
    color: #b8b8b8;
    height: 36px; /* 높이 조정 */
    width: 600px;
}

/* 텍스트 박스 포커스 스타일 */
.search-bar input[type="text"]:focus {
    color: #282828;
    background-color: white;
}

/* 선택창 스타일 */
.search-bar select {
    padding: 5px;
    flex: 0 1 auto; /* 너비 조정 */
    min-width: 120px;
    max-width: 180px; /* 가로 길이 제한 */
    height: 36px; /* 높이 조정 */
    border: 1px solid #b8b8b8; /* 기본 테두리 */
    border-radius: 4px; /* 테두리 둥글기 */
    outline: none; /* 포커스 시 아웃라인 제거 */
}

/* 포커스 시 기본 테두리 두께 변화 방지 */
.search-bar select:focus {
    border: 1px solid #b8b8b8; /* 포커스 시 테두리 색상 유지 */
    box-shadow: none; /* 포커스 시 그림자 제거 */
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    width: 20%; /* 기본 너비를 줄였습니다 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 부드러운 애니메이션 추가 */
}

.card:hover {
    transform: translateY(-10px) scale(1.05); /* 마우스가 다가가면 들썩이고 커지는 효과 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* 그림자 증가 효과 */
}

.card img {
    width: 90%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 20px;
}

.card-content {
    padding: 10px;
    text-align: left;
    padding-top: 5px;
}

.card-content h2 {
    margin: 5px 0;
    font-size: 16px;
}

.card-content p {
    margin: 5px 0;
    font-size: 12px;
    color: #b8b8b8;
    margin-bottom: 10px;
}

.date {
    color: #282828; /* D+265의 색상을 빨간색으로 설정 */
}

.status {
    color: #8d8d8d; /* 공개의 색상을 파란색으로 설정 */
}

.card-content a {
    display: block;
    margin: 5px 0;
    font-size: 12px;
    color: #282828;
    text-decoration: none;
    margin-bottom: 10px;
}

.card-content .info {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    font-size: 10px;
    color: #b8b8b8;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.info .info-item .num{
    color: #282828;
    font-size: 12px;
}

.info-item {
    text-align: left; /* 왼쪽 정렬 */
}

.info-item img {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-top: 0px;
    margin-right: 0px;
}

.load-more {
    display: block;
    width: 85%;
    text-align: center;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #282828;
    border-radius: 10px;
    margin: 20px 0;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 100px;
}

.load-more:hover{
    background-color: #282828;
    color: white;
    border: none;
}

/* 미디어 쿼리 */
@media (max-width: 1400px){
    .load-more {
        width: 87%;
        margin-left: 75px;
    }
}
@media (max-width: 1200px){
    .search-bar input[type="text"], .search-bar select {
        width: 300px;
    }
    .search-bar select {
        max-width: 70px;
    }
    .card {
        width: 40%;
    }
    .card-content p {
        margin: 2px 0;
        font-size: 10px;
        margin-bottom: 10px;
    }
    .card-content h2 {
        margin: 2px 0;
        font-size: 12px;
    }
    .card-content a {
        margin: 2px 0;
        font-size: 10px;
        margin-bottom: 10px;
    }
    .info-item img {
        width: 12px;
        height: 12px;
    }
    .card-content .info {
        font-size: 8px;
    }
    
    .info .info-item .num{
        font-size: 10px;
    }
    .load-more {
        width: 83%;
        margin-left: 70px;
    }
}

@media (max-width: 992px){
    .search-bar input[type="text"], .search-bar select {
        width: 210px;
        font-size: 12px;
    }
    .search-bar select {
        max-width: 50px;
    }
    .card {
        width: 40%;
    }
    .card img {
        width: 80%;
    }
    .info-item img {
        width: 10px;
        height: 10px;
    }
    .load-more {
        width: 84%;
        margin-left: 50px;
    }

}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .header button {
        position: static;
        margin-top: 10px;
        right: auto;
        top: auto;
        transform: none;
    }

    .buttons-container {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .buttons {
        flex-direction: column;
        gap: 5px;
    }

    .search-bar {
        flex-direction: column;
        gap: 10px;
    }

    .search-wrapper {
        max-width: 100%;
    }

    .search-bar input[type="text"], .search-bar select {
        width: 210px;
        font-size: 12px;
    }

    .search-bar select {
        max-width: 50px;
    }
    .card {
        width: 40%;
    }
    .card img {
        width: 70%;
    }
    .info-item img {
        width: 10px;
        height: 10px;
    }
    
}
@media (max-width: 480px) {
    .center-image {
        max-width: 80px;
    }

    .header button {
        font-size: 12px;
        padding: 8px 15px;
    }

    .buttons .active, .buttons .inactive {
        padding: 6px 10px;
    }

    .search-bar input[type="text"], .search-bar select {
        width: 100%;
        font-size: 14px;
    }

    .search-bar select {
        max-width: 120px;
    }
    .card {
        width: 40%;
    }
    .card img {
        width: 60%;
    }
    .info-item img {
        width: 9px;
        height: 9px;
    }
    
}